<%include header %>
<html>
<head><title>Tabla Zombiland</title></head>
<body>
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
                <ul class="navbar-nav">
                  <li class="nav-item ">
                    <a class="nav-link" href="/">ZOMBIES</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="/clases">CLASES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/armas">ARMAS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/victimas">VICTIMAS</a>
                  </li>
                </ul>
              </nav>
 
<h1>ARMAS</h1>
<table>
  <tr>
    <th>ZOMBIE</th>
    <th>ARMA PRINCIPAL</th> 
    <th>ARMA SECUNDARIA</th>
  </tr>
  <tr>
    <td>ZOMBIE PEÑA</td>
    <td>LAPIZ</td>
    <td>GOMA</td>
  </tr>
  <tr>
    <td>ZOMBIE JACSON</td>
    <td>MICROFONO</td>
    <td>ZAPATO</td>
  </tr>
  <tr>
    <td>ZOMBIE PLANTA</td>
    <td>CHAMARRA</td>
    <td>PISTOLA</td>
  </tr>
  <tr>
    <td>ZOMBIE PAPEL</td>
    <td>PUÑO</td>
    <td>PATADA</td>
  </tr>
</table>
<br>

 
</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/main.js"></script>

<%include footer %>